In [22]:
import os

# Change to the desired directory
os.chdir('/Users/project-one-code-yianxiong/ECO225Project/Code')

# Verify the change
print(os.getcwd())

/Users/project-one-code-yianxiong/ECO225Project/Code

In [23]:
import pandas as pd
df = pd.read_csv('funds.csv')

In [13]:
df = df.dropna()        # Drop all rows with any missing values

In [4]:
print(df.head())         # Look at the first few rows
print(df.info())         # Get a summary of the data types and non-null values
print(df.describe())     # Get summary statistics for numerical columns

   id  fund_id object_id                                 name   funded_at  \
0   1        1     f:371                          Second Fund  2008-12-16
1   4        4      f:17           Sequoia Israel Fourth Fund  2008-12-17
2   5        5     f:951                           Tenth fund  2008-08-11
4   7        7     f:519                           Third fund  2008-05-20
5   8        8    f:1811  Inventus Capital Partners Fund I LP  2007-11-30

   raised_amount raised_currency_code  \
0    300000000.0                  USD
1    200750000.0                  USD
2    650000000.0                  USD
4    200000000.0                  USD
5     51750000.0                  USD

                                          source_url  \
0  http://www.pehub.com/26194/dfj-dragon-raising-...
1  http://www.pehub.com/26725/sequoia-israel-rais...
2  http://venturebeat.com/2008/08/11/interwest-cl...
4  http://venturebeat.com/2008/05/20/disneys-stea...
5  http://venturebeat.com/2008/01/14/kanwal-rekhi...

                             source_description           created_at  \
0                                         peHub  2008-12-17 03:07:16
1             Sequoia Israel Raises Fourth Fund  2008-12-18 22:04:42
2                                  Venture Beat  2008-12-31 09:47:51
4                                  Venture Beat  2009-01-03 09:51:58
5  Kanwal Rekhiâs India-focused firm Inventus  2009-01-06 18:58:58

            updated_at
0  2008-12-17 03:07:16
1  2008-12-18 22:04:42
2  2008-12-31 09:47:51
4  2013-09-03 16:34:54
5  2010-09-03 21:46:06
<class 'pandas.core.frame.DataFrame'>
Index: 1167 entries, 0 to 1563
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1167 non-null   int64
 1   fund_id               1167 non-null   int64
 2   object_id             1167 non-null   object
 3   name                  1167 non-null   object
 4   funded_at             1167 non-null   object
 5   raised_amount         1167 non-null   float64
 6   raised_currency_code  1167 non-null   object
 7   source_url            1167 non-null   object
 8   source_description    1167 non-null   object
 9   created_at            1167 non-null   object
 10  updated_at            1167 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 109.4+ KB
None
                id      fund_id  raised_amount
count  1167.000000  1167.000000   1.167000e+03
mean    857.558698   857.558698   4.066274e+08
std     502.896055   502.896055   1.121620e+09
min       1.000000     1.000000   0.000000e+00
25%     420.500000   420.500000   3.500000e+07
50%     860.000000   860.000000   1.300000e+08
75%    1307.000000  1307.000000   3.500000e+08
max    1701.000000  1701.000000   1.300000e+10